.home_container {
  height: 100%;
}
.el-header {
  background-color: #313a3e;
}
.el-header img {
  float: left;
}
.el-header span {
  float: left;
  margin-top: 10px;
  margin-left: 50px;
  color: #ffffff;
  font-size: 30px;
}
.el-aside {
  background-color: #303746;
}
.el-aside .toggle-button {
  background-color: #48546b;
  color: #fff;
  text-align: center;
}
.el-aside .el-menu {
  border: none;
}
.el-main {
  background-color: #e7ecf0;
}
.el-menu-item {
  margin-top: 15px;
}
